In [3]:
first_dictionary = {'James Pennington':100000, 'Mark Bonnett':23000, 'Emily Davis':24000}
first_dictionary['James Pennington']

100000

In [6]:
first_dictionary['Mark Bonnett'] = 22000
first_dictionary

{'Emily Davis': 24000,
 'Gareth Edwards': 24000,
 'James Pennington': 100000,
 'Mark Bonnett': 22000}

In [5]:
first_dictionary['Gareth Edwards'] = 24000
first_dictionary

{'Emily Davis': 24000,
 'Gareth Edwards': 24000,
 'James Pennington': 100000,
 'Mark Bonnett': 23000}

In [7]:
first_dictionary['Michael Mortenson'] = [24000, 36000]
first_dictionary

{'Emily Davis': 24000,
 'Gareth Edwards': 24000,
 'James Pennington': 100000,
 'Mark Bonnett': 22000,
 'Michael Mortenson': [24000, 36000]}

In [8]:
del first_dictionary['Gareth Edwards']
first_dictionary

{'Emily Davis': 24000,
 'James Pennington': 100000,
 'Mark Bonnett': 22000,
 'Michael Mortenson': [24000, 36000]}

In [9]:
sorted(first_dictionary)

['Emily Davis', 'James Pennington', 'Mark Bonnett', 'Michael Mortenson']

In [11]:
second_dictionary = {'Michael Mortenson':{'DOB':'13/06/1981', 'HighestEd':'PhD',\
                                          'NAME_REMOVED':[24000, 36000]}}
second_dictionary['Michael Mortenson']['DOB']

'13/06/1981'

In [14]:
first_tuple = ("a", 2, 5.5, False)
first_tuple[1]

2

In [15]:
first_tuple[3] = True

TypeError: 'tuple' object does not support item assignment

In [17]:
first_tuple = ("a", 2, 5.5, True)
first_tuple

('a', 2, 5.5, True)

In [18]:
second_tuple = (["James", "Pennington"], 2, "not a list")
second_tuple[0].insert(1, "Julian")
second_tuple

(['James', 'Julian', 'Pennington'], 2, 'not a list')

In [20]:
first_set = {"u10000", "u10001", "u10002"}
first_set[1]

TypeError: 'set' object does not support indexing

In [21]:
first_set.add('u10004')
first_set.update(['u10005', 'u10007'])
first_set

{'u10000', 'u10001', 'u10002', 'u10004', 'u10005', 'u10007'}

In [22]:
first_set.discard('u10004')
first_set

{'u10000', 'u10001', 'u10002', 'u10005', 'u10007'}

In [23]:
"u10000" in first_set

True