In [1]:
import pandas as pd
import numpy as np

In [2]:
orders = {'o10001':{'date':'2019/01/10', \
				'product':'Social Media Detector', \
				'quantity':'1'
		}, \
		'o10002':{'date':'2019/01/13', \
				'product':'Realistic Man\'s wig', \
				'quantity':'2' \
		}, \
		'o10003':{'date':'2019/01/14', \
				'product':'Weather\'s Originals', \
				'quantity':'10' \
		}, \
		'o10004':{'date':'2019/01/15', \
				'product':'Brown Shoes', \
				'quantity':'2' \
		}
}

orders_df = pd.DataFrame(orders)
orders_df

,o10001,o10002,o10003,o10004
date,2019/01/10,2019/01/13,2019/01/14,2019/01/15
product,Social Media Detector,Realistic Man's wig,Weather's Originals,Brown Shoes
quantity,1,2,10,2

In [3]:
customers = {'James':{'name':'James Pennington', \
				'open_orders':1, \
				'orders':['o10001', 'o10002', 'o10004']
			}, \
			'Gareth':{'name':'Gareth Edwards', \
				'open_orders':0, \
				'orders':[]
			}, \
			'Mark':{'name':'Mark Bonnett', \
				'open_orders':1, \
				'orders':['o10003']
			}, \
			'Emily':{'name':'Emily Davis', \
				'open_orders':0, \
				'orders':[]
			}
}

customers_df = pd.DataFrame(customers)
customers_df

,Emily,Gareth,James,Mark
name,Emily Davis,Gareth Edwards,James Pennington,Mark Bonnett
open_orders,0,0,1,1
orders,[],[],"[o10001, o10002, o10004]",[o10003]

In [4]:
products = {'123':{'name':'Social Media Detector', \
				'cost_price':12.12, \
				'sale_price':15.00
			}, \
			'124':{'name':'Realistic Man\'s wig', \
				'cost_price':2.15, \
				'sale_price':9.99
			}, \
			'125':{'name':'Brown Shoes', \
				'cost_price':22.45, \
				'sale_price':49.99
			}, \
			'126':{'name':'Pack of Cards', \
				'cost_price':0.45, \
				'sale_price':2.99
			}, \
			'127':{'name':'Weather\'s Originals', \
				'cost_price':0.78, \
				'sale_price':1.49
			}
}

products_df = pd.DataFrame(products)
products_df

,123,124,125,126,127
cost_price,12.12,2.15,22.45,0.45,0.78
name,Social Media Detector,Realistic Man's wig,Brown Shoes,Pack of Cards,Weather's Originals
sale_price,15,9.99,49.99,2.99,1.49

In [5]:
orders_df = orders_df.transpose()
products_df = products_df.transpose()
orders_df

              date                product quantity
o10001  2019/01/10  Social Media Detector        1
o10002  2019/01/13    Realistic Man's wig        2
o10003  2019/01/14    Weather's Originals       10
o10004  2019/01/15            Brown Shoes        2

In [6]:
joined_df =orders_df.merge(products_df, how='left', left_on='product', right_on='name')
joined_df

,date,product,quantity,cost_price,name,sale_price
0,2019/01/10,Social Media Detector,1,12.12,Social Media Detector,15
1,2019/01/13,Realistic Man's wig,2,2.15,Realistic Man's wig,9.99
2,2019/01/14,Weather's Originals,10,0.78,Weather's Originals,1.49
3,2019/01/15,Brown Shoes,2,22.45,Brown Shoes,49.99

In [8]:
joined_df_two =orders_df.merge(products_df, how='right', left_on='product', right_on='name')
joined_df_two

,date,product,quantity,cost_price,name,sale_price
0,2019/01/10,Social Media Detector,1,12.12,Social Media Detector,15
1,2019/01/13,Realistic Man's wig,2,2.15,Realistic Man's wig,9.99
2,2019/01/14,Weather's Originals,10,0.78,Weather's Originals,1.49
3,2019/01/15,Brown Shoes,2,22.45,Brown Shoes,49.99
4,NaN,NaN,NaN,0.45,Pack of Cards,2.99

In [9]:
joined_df = joined_df.drop(['name'], axis=1)
joined_df

         date                product quantity cost_price sale_price
0  2019/01/10  Social Media Detector        1      12.12         15
1  2019/01/13    Realistic Man's wig        2       2.15       9.99
2  2019/01/14    Weather's Originals       10       0.78       1.49
3  2019/01/15            Brown Shoes        2      22.45      49.99

In [10]:
joined_df['total_cost_price'] = joined_df['quantity'] * joined_df['cost_price']
joined_df['total_sale_price'] = joined_df['quantity'] * joined_df['sale_price']
joined_df

TypeError: can't multiply sequence by non-int of type 'float'

In [11]:
print(joined_df.dtypes)

date          object
product       object
quantity      object
cost_price    object
sale_price    object
dtype: object

In [12]:
field_list = ['quantity', 'cost_price', 'sale_price']
for field in field_list:
	joined_df[field] = joined_df[field].astype(float)

In [13]:
joined_df

         date                product  quantity  cost_price  sale_price
0  2019/01/10  Social Media Detector       1.0       12.12       15.00
1  2019/01/13    Realistic Man's wig       2.0        2.15        9.99
2  2019/01/14    Weather's Originals      10.0        0.78        1.49
3  2019/01/15            Brown Shoes       2.0       22.45       49.99

In [14]:
joined_df['total_cost_price'] = joined_df['quantity'] * joined_df['cost_price']
joined_df['total_sale_price'] = joined_df['quantity'] * joined_df['sale_price']
joined_df

,date,product,quantity,cost_price,sale_price,total_cost_price,total_sale_price
0,2019/01/10,Social Media Detector,1.0,12.12,15.00,12.12,15.00
1,2019/01/13,Realistic Man's wig,2.0,2.15,9.99,4.30,19.98
2,2019/01/14,Weather's Originals,10.0,0.78,1.49,7.80,14.90
3,2019/01/15,Brown Shoes,2.0,22.45,49.99,44.90,99.98

In [18]:
joined_df.ix[0]

date                           2019/01/10
product             Social Media Detector
quantity                                1
cost_price                          12.12
sale_price                             15
total_cost_price                    12.12
total_sale_price                       15
Name: 0, dtype: object

In [20]:
joined_df.ix[0:2]

,date,product,quantity,cost_price,sale_price,total_cost_price,total_sale_price
0,2019/01/10,Social Media Detector,1.0,12.12,15.00,12.12,15.00
1,2019/01/13,Realistic Man's wig,2.0,2.15,9.99,4.30,19.98
2,2019/01/14,Weather's Originals,10.0,0.78,1.49,7.80,14.90

In [21]:
joined_df['product']

0    Social Media Detector
1      Realistic Man's wig
2      Weather's Originals
3              Brown Shoes
Name: product, dtype: object

In [22]:
df_subset_one = joined_df.ix[0:1]

In [23]:
df_subset_one

,date,product,quantity,cost_price,sale_price,total_cost_price,total_sale_price
0,2019/01/10,Social Media Detector,1.0,12.12,15.00,12.12,15.00
1,2019/01/13,Realistic Man's wig,2.0,2.15,9.99,4.30,19.98

In [25]:
df_subset_two = joined_df[['date', 'product', 'total_cost_price']]
df_subset_two

         date                product  total_cost_price
0  2019/01/10  Social Media Detector             12.12
1  2019/01/13    Realistic Man's wig              4.30
2  2019/01/14    Weather's Originals              7.80
3  2019/01/15            Brown Shoes             44.90

In [26]:
joined_df.to_csv('Joined_Dataframe.csv', sep=",")